:root {
  --acent-color: #4c4857;
  --brand-color: #6f6d7a;
  --main-color: #000000;
  --secondary-color: #000000;
  --text-color: #9a9996;
  --input-color: #1c181d;
}
.red-theme {
  --acent-color: red;
  --main-color: #170000;
  --input-color: rgb(37, 13, 13);
}
.yellow-theme {
  --acent-color: yellow;
  --main-color: rgb(15, 15, 5);
  --input-color: rgb(37, 35, 13);
}
.green-theme {
  --acent-color: rgb(89, 255, 64);
  --main-color: rgb(6, 27, 12);
  --input-color: rgb(13, 37, 14);
}
.cyan-theme {
  --acent-color: cyan;
  --main-color: rgb(7, 22, 31);
  --input-color: rgb(13, 37, 37);
}
.sky-blue-theme {
  --acent-color: rgb(0, 162, 255);
  --main-color: rgb(7, 22, 31);
  --input-color: rgb(13, 26, 37);
}
.blue-theme {
  --acent-color: rgb(64, 115, 255);
  --main-color: rgb(7, 18, 33);
  --input-color: rgb(13, 17, 37);
}
.violet-theme {
  --acent-color: rgb(132, 0, 255);
  --main-color: rgb(14, 6, 22);
  --input-color: rgb(29, 13, 37);
}
.pink-theme {
  --acent-color: rgb(255, 90, 252);
  --main-color: rgb(29, 8, 26);
  --input-color: rgb(35, 13, 37);
}

// =================   AMOLED THEMEs =======================
.amoled-red-theme {
  --acent-color: red;
  --main-color: rgb(0, 0, 0);
  --input-color: rgb(18, 6, 6);
  --brand-color: var(--acent-color);
}
.amoled-yellow-theme {
  --acent-color: yellow;
  background-color: black;
  --input-color: rgb(22, 21, 8);
  --brand-color: var(--acent-color);
}
.amoled-green-theme {
  --acent-color: rgb(89, 255, 64);
  --main-color: rgb(0, 0, 0);
  --input-color: rgb(7, 19, 7);
  --brand-color: var(--acent-color);
}
.amoled-cyan-theme {
  --acent-color: cyan;
  --main-color: black;
  --input-color: rgb(8, 22, 22);
  --brand-color: var(--acent-color);
}
.amoled-sky-blue-theme {
  --acent-color: rgb(0, 162, 255);
  --main-color: rgb(0, 0, 0);
  --input-color: rgb(7, 15, 21);
  --brand-color: var(--acent-color);
}
.amoled-blue-theme {
  --acent-color: rgb(64, 115, 255);
  --main-color: rgb(0, 0, 0);
  --input-color: rgb(7, 9, 19);
  --brand-color: var(--acent-color);
}
.amoled-violet-theme {
  --acent-color: rgb(132, 0, 255);
  --main-color: rgb(0, 0, 0);
  --input-color: rgb(13, 7, 17);
  --brand-color: var(--acent-color);
}
.amoled-pink-theme {
  --acent-color: rgb(255, 90, 252);
  --main-color: rgb(0, 0, 0);
  --input-color: rgb(14, 5, 16);
  --brand-color: var(--acent-color);
}
// ===================   SLANT THEMES   ==============================
// ===================================================================

//  ======  Slant Colors ======
// ==================================
.slant-yellow-theme {
  --acent-color: #6d6648;
  --brand-color: #92865d;
  --main-color: #c2be97;
  --secondary-color: #464428;
  --text-color: #141414;
}
.slant-pink-theme {
  --acent-color: #6d486a;
  --brand-color: #925d92;
  --main-color: #c297c2;
  --secondary-color: #432846;
  --text-color: #141414;
}
.slant-red-theme {
  --acent-color: #6d4848;
  --brand-color: #925d5d;
  --main-color: #c29797;
  --secondary-color: #462828;
  --text-color: #141414;
}
.slant-blue-theme {
  --acent-color: #484a6d;
  --brand-color: #5d5e92;
  --main-color: #9b97c2;
  --secondary-color: #282946;
  --text-color: #141414;
}
.slant-green-theme {
  --acent-color: #486d5a;
  --brand-color: #5d9273;
  --main-color: #97c2a7;
  --secondary-color: #28463a;
  --text-color: #141414;
  --list-items-color: black;
}
.slant-pink-theme {
  --acent-color: #cf78c8;
  --brand-color: #a537a5;
  --main-color: #f1daf1;
  --secondary-color: #cf78c8;
  --text-color: #141414;
  --list-items-color: black;
}
// ====
// .slant-blue-theme {
//   --acent-color: #485457;
//   --brand-color: #6c6b7a;
//   --main-color: #0e1416;
//   --secondary-color: #222c31;
//   --text-color: #141414;
// }
// .slant-cyan-theme {
//   --acent-color: #485457;
//   --brand-color: #7a6b6b;
//   --main-color: #0e1416;
//   --secondary-color: #222c31;
//   --text-color: #141414;
// }
// .slant-red-theme {
//   --acent-color: #574848;
//   --brand-color: #7a6b6b;
//   --main-color: #160e0e;
//   --secondary-color: #312222;
//   --text-color: #141414;
// }
// .slant-green-theme {
//   --acent-color: #48574c;
//   --brand-color: #6b7a75;
//   --main-color: #0e160f;
//   --secondary-color: #22312b;
//   --text-color: #141414;
// }
// .slant-violet-theme {
//   --acent-color: #4c4857;
//   --brand-color: #6f6d7a;
//   --main-color: #100e16;
//   --secondary-color: #272231;
//   --text-color: #141414;
// }

// ============== Dark Slant Themes =================
// ==================================================

.dark-slant-yellow-theme {
  --acent-color: #575448;
  --brand-color: #7a776d;
  --main-color: #110e09;
  --secondary-color: #313022;
  --text-color: #9a9996;
  --input-color: #3f3f32;
}
.dark-slant-pink-theme {
  --acent-color: #564857;
  --brand-color: #7a6d7a;
  --main-color: #150e16;
  --secondary-color: #312230;
  --text-color: #9a9996;
  --input-color: #3f323f;
}
.dark-slant-blue-theme {
  --acent-color: #484a57;
  --brand-color: #6b6e7a;
  --main-color: #0e1016;
  --secondary-color: #222531;
  --text-color: #96979a;
  --input-color: #32323f;
}
.dark-slant-cyan-theme {
  --acent-color: #485457;
  --brand-color: #6b757a;
  --main-color: #0e1416;
  --secondary-color: #222c31;
  --text-color: #9a9996;
  --input-color: #323a3f;
}
.dark-slant-red-theme {
  --acent-color: #574848;
  --brand-color: #7a6b6b;
  --main-color: #160e0e;
  --secondary-color: #312222;
  --text-color: #9a9996;
  --input-color: #3f3232;
}
.dark-slant-green-theme {
  --acent-color: #48574c;
  --brand-color: #6b7a75;
  --main-color: #0e160f;
  --secondary-color: #22312b;
  --text-color: #9a9996;
  --input-color: #323f37;
}
.dark-slant-violet-theme {
  --acent-color: #4c4857;
  --brand-color: #6f6d7a;
  --main-color: #100e16;
  --secondary-color: #272231;
  --text-color: #9a9996;
  --input-color: #34323f;
}

//  ====== Amoled Slant Colors ======
// ==================================

.amoled-slant-yellow-theme {
  --acent-color: #575448;
  --brand-color: #7a776d;
  --main-color: #000000;
  --secondary-color: #000000;
  --text-color: #9a9996;
  --input-color: #1d1d18;
}
.amoled-slant-pink-theme {
  --acent-color: #564857;
  --brand-color: #7a6d7a;
  --main-color: #000000;
  --secondary-color: #000000;
  --text-color: #9a9996;
  --input-color: #1c181d;
}
.amoled-slant-blue-theme {
  --acent-color: #484c57;
  --brand-color: #6b6e7a;
  --main-color: #000000;
  --secondary-color: #000000;
  --text-color: #96969a;
  --input-color: #18181d;
}
.amoled-slant-cyan-theme {
  --acent-color: #485457;
  --brand-color: #6b747a;
  --main-color: #000000;
  --secondary-color: #000000;
  --text-color: #9a9996;
  --input-color: #181c1d;
}
.amoled-slant-red-theme {
  --acent-color: #574848;
  --brand-color: #7a6b6b;
  --main-color: #000000;
  --secondary-color: #000000;
  --text-color: #9a9996;
  --input-color: #1d1818;
}
.amoled-slant-green-theme {
  --acent-color: #48574c;
  --brand-color: #6b7a75;
  --main-color: #000000;
  --secondary-color: #000000;
  --text-color: #9a9996;
  --input-color: #181d1a;
}
.amoled-slant-violet-theme {
  --acent-color: #4c4857;
  --brand-color: #6f6d7a;
  --main-color: #000000;
  --secondary-color: #000000;
  --text-color: #9a9996;
  --input-color: #1c181d;
}

.color-box {
  width: 50px;
  height: 50px;
}

.theme-page {
  button {
    background-color: grey;
    padding: 8px 18px;
    font-size: 20px;
    margin-left: 20px;
    background-color: var(--acent-color);
    color: black;

    border-radius: 3px;
    border: none;
  }
  .color-box {
    height: 40px;
  }
  .color-themes {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    width: 400px;
    justify-content: end;
    align-items: center;
    margin: 30px auto;

    .red-color {
      background-color: red;
    }
    .yellow-color {
      background-color: yellow;
    }
    .green-color {
      background-color: green;
    }
    .blue-color {
      background-color: blue;
    }
    .cyan-color {
      background-color: cyan;
    }
    .sky-blue-color {
      background-color: rgb(0, 140, 255);
    }
    .pink-color {
      background-color: rgb(255, 0, 200);
    }
    .violet-color {
      background-color: #6200ff;
    }
  }
  .dark-themes {
    .red-color {
      background-color: rgb(69, 8, 8);
    }
    .yellow-color {
      background-color: rgb(94, 94, 0);
    }
    .green-color {
      background-color: rgb(4, 51, 4);
    }
    .cyan-color {
      background-color: rgb(3, 54, 54);
    }
    .sky-blue-color {
      background-color: rgb(0, 54, 105);
    }
    .blue-color {
      background-color: rgb(10, 55, 87);
    }
    .violet-color {
      background-color: rgb(23, 12, 49);
    }
    .pink-color {
      background-color: rgb(81, 9, 52);
    }
  }
  .dark-slant-themes {
    .red-color {
      background-color: #574848;
    }
    .yellow-color {
      background-color: #575448;
    }
    .green-color {
      background-color: #48574c;
    }
    .cyan-color {
      background-color: #485457;
    }
    .sky-blue-color {
      background-color: #484a57;
    }
    .blue-color {
      background-color: #484a57;
    }
    .violet-color {
      background-color: #4c4857;
    }
    .pink-color {
      background-color: #564857;
    }
  }
  .amoled-slant-themes {
    .red-color {
      background-color: #2e2626;
    }
    .yellow-color {
      background-color: #302e27;
    }
    .green-color {
      background-color: #232b25;
    }
    .cyan-color {
      background-color: #2b3335;
    }
    .sky-blue-color {
      background-color: #2a2b33;
    }
    .blue-color {
      background-color: #24252c;
    }
    .violet-color {
      background-color: #2c2a33;
    }
    .pink-color {
      background-color: #312931;
    }
  }
}

.custom-theme-maker {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .field {
    display: flex;
    margin-bottom: 5px;
    p {
      width: 200px;
    }
    input[type="text"] {
      width: 200px;
      height: 30px;
    }
    input[type="color"] {
      width: 150px;
      height: 30px;
    }
  }
  button {
    padding: 8px 15px;
    background-color: var(--acent-color);
    outline: none;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px;
    margin-top: 15px;
  }
}

.custom-theme-wrapper {
  .custom-themes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 62px);
    column-gap: 15px;
    row-gap: 8px;
    justify-content: center;
    .theme-layout {
      border: 1px solid rgb(39, 39, 39);
      .theme-layout-head {
        height: 25px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
          font-size: 10px;
        }
      }
      .theme-layout-body {
        width: 60px;
        height: 40px;
      }
    }
  }
}
