body {
  background-color: rgb(16, 16, 16);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

.register {
  background-color: black;
  padding: 12px;
  max-width: 300px;
  border: 2px solid rgb(86, 173, 255);
  border-radius: 4px;
}
.register .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 12px;
}
.register select {
  height: 30px;
  background-color: black;
  color: white;
}
.register input {
  background-color: rgb(52, 52, 52);
  border: none;
  height: 30px;
  padding: 2px 0 2px 5px;
  border-radius: 6px;
}
.register input:focus {
  outline: none;
}
.register button {
  background-color: grey;
  padding: 4px 8px;
  border-radius: 3px;
  border: none;
}

.reg-id {
  font-size: 22px;
  padding: 5px;
  color: rgb(86, 173, 255);
}

.update-btn {
  color: red;
  background-color: rgb(36, 36, 36);
  padding: 3px 8px;
  border: none;
  outline: none;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.681);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  display: none;
}

.update-box {
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid rgb(86, 173, 255);
  border-radius: 30px;
  z-index: 999;
  padding: 45px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.update-box input {
  border: 0px;
  outline: none;
  padding: 10px 8px;
  font-size: 22px;
  background-color: rgb(32, 33, 33);
}
.update-box input:focus {
  outline: none;
}
.update-box button {
  background-color: rgb(86, 173, 255);
  font-size: 22px;
  border: none;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  align-self: end;
  color: black;
  border-radius: 8px;
}

.data {
  margin-bottom: 20px;
  padding: 15px;
  border: 3px solid rgb(78, 163, 255);
  border-radius: 8px;
  max-width: 700px;
  margin: 20px auto;
}
.data .data-head {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgb(86, 173, 255);
  margin-bottom: 10px;
  padding: 3px 5px;
  border-radius: 4px;
}
.data .data-head .cell {
  width: 80px;
  text-align: center;
  font-weight: 600;
  color: black;
}
.data .data-head .cell:first-child {
  flex-grow: 1;
}
.data .data-body .row {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 2px 3px 5px 3px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.493);
}
.data .data-body .row .cell {
  width: 80px;
  text-align: center;
}
.data .data-body .row .cell:first-child {
  flex-grow: 1;
  text-align: left;
}
.data .data-body .row .failed {
  color: rgb(255, 76, 76);
  font-weight: 600;
}
.data .data-body .row .good-marks {
  color: rgb(145, 255, 145);
}

nav {
  height: 60px;
  background-color: black;
  border-bottom: 2px solid rgb(86, 173, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 40px;
}
nav h1 {
  font-size: 32px;
  color: rgb(86, 173, 255);
}
nav input {
  height: 30px;
  width: 120px;
  background-color: rgb(34, 34, 34);
  padding-left: 15px;
  color: rgb(86, 173, 255);
  border: none;
}
nav input:focus {
  outline: none;
}

@media (max-width: 430px) {
  .data .data-head {
    gap: 0;
  }
  .data .data-head .cell {
    width: 48px;
    font-size: 12px;
    overflow-x: hidden;
  }
  .data .data-head .cell:first-child {
    font-size: 16px;
  }
  .data .data-body .row {
    gap: 0;
  }
  .data .data-body .row .cell {
    width: 45px;
  }
}/*# sourceMappingURL=index.css.map */