:root {
  --acent-color: red;
  --main-color: rgb(23, 0, 0);
  --secondary-color: rgb(0, 0, 0);
  --text-color: rgb(255, 255, 255);
  --brand-color: var(--acent-color);
}

.pink-theme {
  --acent-color: rgb(255, 90, 252);
  --main-color: rgb(29, 8, 26);
}

.green-theme {
  --acent-color: rgb(89, 255, 64);
  --main-color: rgb(6, 27, 12);
}

.blue-theme {
  --acent-color: rgb(64, 115, 255);
  --main-color: rgb(7, 18, 33);
}

.red-theme {
  --acent-color: red;
  --main-color: rgb(23, 0, 0);
}

.amoled-pink-theme {
  --acent-color: rgb(255, 90, 252);
  --main-color: rgb(0, 0, 0);
}

.amoled-green-theme {
  --acent-color: rgb(89, 255, 64);
  --main-color: rgb(0, 0, 0);
}

.amoled-blue-theme {
  --acent-color: rgb(64, 115, 255);
  --main-color: rgb(0, 0, 0);
}

.amoled-red-theme {
  --acent-color: red;
  --main-color: rgb(0, 0, 0);
}

body {
  background-color: var(--main-color);
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: sans-serif;
}

.register {
  background-color: black;
  padding: 12px;
  max-width: 300px;
  border: 2px solid var(--acent-color);
  border-radius: 4px;
}
.register .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 12px;
}
.register select {
  height: 30px;
  background-color: black;
  color: white;
}
.register input {
  background-color: rgb(52, 52, 52);
  border: none;
  height: 30px;
  padding: 2px 0 2px 5px;
  border-radius: 6px;
}
.register input:focus {
  outline: none;
}
.register button {
  background-color: grey;
  padding: 4px 8px;
  border-radius: 3px;
  border: none;
}

.reg-id {
  font-size: 22px;
  padding: 5px;
  color: var(--acent-color);
}

.update-btn {
  color: red;
  background-color: rgb(49, 1, 1);
  padding: 5px 12px;
  border: none;
  border: 1px solid rgb(225, 13, 13);
  border-radius: 5px;
  outline: none;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.895);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
}

input {
  border: 0px;
  outline: none;
  padding: 10px 8px;
  font-size: 22px;
  background-color: rgb(32, 33, 33);
  border-radius: 8px;
}
input:focus {
  outline: none;
}

.update-box {
  background-color: var(--secondary-color);
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 8px rgba(79, 79, 79, 0.54);
  border-top: 2px solid var(--acent-color);
  border-radius: 30px;
  z-index: 999;
  padding: 50px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}
.update-box button {
  background-color: var(--acent-color);
  font-size: 22px;
  border: none;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  align-self: end;
  color: black;
  border-radius: 8px;
}
.update-box .close-btn {
  position: absolute;
  right: 35px;
}
.update-box .wrong-pass {
  color: red;
}
.update-box .close-btn {
  top: 25px;
}
.update-box input {
  border: 0px;
  outline: none;
  padding: 10px 8px;
  font-size: 22px;
  background-color: rgb(32, 33, 33);
}
.update-box input:focus {
  outline: none;
}
.update-box .icon-box {
  color: grey;
  left: 30px;
  bottom: 25px;
  position: absolute;
}
.update-box .icon-box .close-btn {
  color: rgb(69, 69, 69);
  font-size: 20px;
}

.data {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid var(--acent-color);
  border-radius: 8px;
  max-width: 700px;
  margin: 20px auto;
}
.data .data-head {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--acent-color);
  margin-bottom: 10px;
  padding: 3px 5px;
  border-radius: 4px;
}
.data .data-head .cell {
  width: 80px;
  text-align: center;
  font-weight: 600;
  color: black;
}
.data .data-head .cell:first-child {
  flex-grow: 1;
}
.data .data-body .row {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 2px 3px 5px 3px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.493);
}
.data .data-body .row .cell {
  width: 80px;
  text-align: center;
}
.data .data-body .row .cell:first-child {
  flex-grow: 1;
  text-align: left;
}
.data .data-body .row .failed {
  color: rgb(255, 76, 76);
  font-weight: 600;
}
.data .data-body .row .good-marks {
  color: rgb(145, 255, 145);
}

nav {
  height: 60px;
  background-color: var(--secondary-color);
  border-bottom: 2px solid var(--acent-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
}
nav .left-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--menu-color);
}
nav .left-bar h1 {
  font-size: 32px;
  color: var(--brand-color);
}
nav input {
  height: 30px;
  width: 150px;
  font-size: 18px;
  background-color: rgb(34, 34, 34);
  padding-left: 15px;
  color: var(--acent-color);
  border-radius: 5px;
  border: none;
}
nav input:focus {
  outline: none;
}
nav .invalid-sym {
  color: red;
  margin-right: 5px;
}
nav .invalid-reg-id {
  border: 1px solid red;
  color: red;
}

div .info-head,
.error-head,
.warn-head,
.info-head {
  color: inherit;
  font-size: 20px;
  padding: 6px;
  border-bottom: 1px solid;
  border-bottom-color: inherit;
  margin-bottom: 10px;
}

.warn-mssg {
  padding: 15px;
  max-width: 600px;
  border-radius: 12px;
  margin-bottom: 15px;
  background-color: #272117;
  color: orange;
  font-size: 15px;
  border: 1px solid orange;
  margin: 0 25px 15px 25px;
}

.error-mssg {
  padding: 15px;
  max-width: 600px;
  border-radius: 12px;
  margin-bottom: 15px;
  background-color: #291a1a;
  color: red;
  font-size: 15px;
  border: 1px solid red;
  margin: 0 25px 15px 25px;
}

.info-mssg {
  padding: 15px;
  max-width: 600px;
  border-radius: 12px;
  margin-bottom: 15px;
  background-color: #262c32;
  color: var(--acent-color);
  font-size: 15px;
  border: 1px solid var(--acent-color);
  margin: 0 25px 15px 25px;
}

.correct-mssg {
  padding: 15px;
  max-width: 600px;
  border-radius: 12px;
  margin-bottom: 15px;
  background-color: #0b5604;
  color: #00ff00;
  font-size: 15px;
  border: 1px solid #00ff00;
  margin: 0 25px 15px 25px;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-pannel {
  background-color: var(--secondary-color);
  position: fixed;
  top: 60px;
  height: 100vh;
  width: 265px;
  padding: 20px 20px 20px 30px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--acent-color);
  z-index: 10;
}
.side-pannel button {
  border: none;
  font-size: 20px;
  background-color: inherit;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.lock-box {
  background-color: var(--secondary-color);
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 8px rgba(79, 79, 79, 0.54);
  border-top: 2px solid var(--acent-color);
  border-radius: 30px;
  z-index: 999;
  padding: 50px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}
.lock-box button {
  background-color: var(--acent-color);
  font-size: 22px;
  border: none;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  align-self: end;
  color: black;
  border-radius: 8px;
}
.lock-box .close-btn {
  position: absolute;
  right: 35px;
}
.lock-box .wrong-pass {
  color: red;
}
.lock-box label {
  color: white;
  font-size: 20px;
}

.update-password {
  background-color: var(--secondary-color);
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 8px rgba(79, 79, 79, 0.54);
  border-top: 2px solid var(--acent-color);
  border-radius: 30px;
  z-index: 999;
  padding: 50px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}
.update-password button {
  background-color: var(--acent-color);
  font-size: 22px;
  border: none;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  align-self: end;
  color: black;
  border-radius: 8px;
}
.update-password .close-btn {
  position: absolute;
  right: 35px;
}
.update-password .wrong-pass {
  color: red;
}
.update-password label {
  color: white;
  font-size: 20px;
}

.unlock-box {
  background-color: var(--secondary-color);
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 8px rgba(79, 79, 79, 0.54);
  border-top: 2px solid var(--acent-color);
  border-radius: 30px;
  z-index: 999;
  padding: 50px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}
.unlock-box button {
  background-color: var(--acent-color);
  font-size: 22px;
  border: none;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  align-self: end;
  color: black;
  border-radius: 8px;
}
.unlock-box .close-btn {
  position: absolute;
  right: 35px;
}
.unlock-box .wrong-pass {
  color: red;
}
.unlock-box label {
  color: white;
  font-size: 20px;
}
.unlock-box .close-btn {
  position: absolute;
  right: 35px;
}

.update-photo {
  background-color: var(--secondary-color);
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 8px rgba(79, 79, 79, 0.54);
  border-top: 2px solid var(--acent-color);
  border-radius: 30px;
  z-index: 999;
  padding: 50px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}
.update-photo button {
  background-color: var(--acent-color);
  font-size: 22px;
  border: none;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  align-self: end;
  color: black;
  border-radius: 8px;
}
.update-photo .close-btn {
  position: absolute;
  right: 35px;
}
.update-photo .wrong-pass {
  color: red;
}

@media (max-width: 600px) {
  .update-box {
    top: 0px;
    transform: translateX(-50%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 1px solid var(--acent-color);
    width: 100%;
  }
  .lock-box {
    top: 0px;
    transform: translateX(-50%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 1px solid var(--acent-color);
    width: 100%;
  }
  .unlock-box {
    top: 0px;
    transform: translateX(-50%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 1px solid var(--acent-color);
    width: 100%;
  }
  .update-password {
    top: 0px;
    transform: translateX(-50%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 1px solid var(--acent-color);
    width: 100%;
  }
  .update-photo {
    top: 0px;
    transform: translateX(-50%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 1px solid var(--acent-color);
    width: 100%;
  }
}
@media (max-width: 430px) {
  .data .data-head {
    gap: 0;
  }
  .data .data-head .cell {
    width: 48px;
    font-size: 12px;
    overflow-x: hidden;
  }
  .data .data-head .cell:first-child {
    font-size: 16px;
  }
  .data .data-body .row {
    gap: 0;
  }
  .data .data-body .row .cell {
    width: 45px;
  }
}
.img-box {
  display: flex;
  justify-content: center;
}
.img-box .img-border {
  border: 10px solid var(--acent-color);
  border-radius: 50%;
  margin-bottom: 20px;
}
.img-box .img-border img {
  width: 220px;
  height: 220px;
}
.img-box img {
  width: 280px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px auto;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-box {
  width: 50px;
  height: 50px;
}

.color-themes {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  width: 250px;
  margin: 30px auto;
}
.color-themes .green-color {
  background-color: green;
}
.color-themes .red-color {
  background-color: red;
}
.color-themes .blue-color {
  background-color: blue;
}
.color-themes .pink-color {
  background-color: pink;
}

.theme-page button {
  background-color: grey;
  padding: 8px 18px;
  font-size: 20px;
  margin-left: 20px;
  background-color: var(--acent-color);
  color: black;
  border-radius: 3px;
  border: none;
}

.dark-themes .green-color {
  background-color: rgb(4, 51, 4);
}
.dark-themes .red-color {
  background-color: rgb(69, 8, 8);
}
.dark-themes .blue-color {
  background-color: rgb(10, 55, 87);
}
.dark-themes .pink-color {
  background-color: rgb(81, 9, 52);
}

.download-box {
  display: flex;
  justify-content: end;
}
.download-box #download {
  background-color: grey;
  padding: 8px 18px;
  font-size: 20px;
  margin-right: 5px;
  background-color: var(--acent-color);
  color: var(--text-color);
  border-radius: 3px;
  border: none;
  color: black;
}/*# sourceMappingURL=index.css.map */