body {
  background-color: rgb(0, 0, 0);
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

$acent-color: rgb(86, 173, 255);
.register {
  background-color: black;
  padding: 12px;
  max-width: 300px;
  border: 2px solid $acent-color;
  border-radius: 4px;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 12px;
  }

  select {
    height: 30px;
    background-color: black;
    color: white;
  }

  input {
    background-color: rgb(52, 52, 52);
    border: none;
    // padding: 3px;
    height: 30px;
    padding: 2px 0 2px 5px;
    &:focus {
      outline: none;
    }
    border-radius: 6px;
  }
  button {
    background-color: grey;
    padding: 4px 8px;
    border-radius: 3px;
    border: none;
  }
}

.reg-id {
  font-size: 22px;
  padding: 5px;
  color: $acent-color;
}
.update-btn {
  color: red;
  background-color: rgb(36, 36, 36);
  padding: 3px 8px;

  border: none;
  outline: none;
}
#overlay {
  background-color: rgba(0, 0, 0, 0.681);
  // background-color: black;
  // filter: blur(4px);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  display: none;
}
.update-box {
  background-color: rgb(0, 0, 0);
  position: absolute;
  // bottom: 0px;
  width: 100%;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 30px;
  box-shadow: 0px 5px 8px rgba(79, 79, 79, 0.54);
  border-top: 2px solid $acent-color;
  border-radius: 30px;
  z-index: 999;
  padding: 45px 30px 45px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  input {
    border: 0px;
    outline: none;
    padding: 10px 8px;
    font-size: 22px;
    background-color: rgb(32, 33, 33);
    &:focus {
      outline: none;
    }
  }
  button {
    background-color: $acent-color;
    font-size: 22px;
    border: none;
    padding: 10px 20px;
    width: fit-content;
    align-self: end;
    color: black;
    border-radius: 8px;
  }
}
.data {
  margin-bottom: 20px;
  padding: 15px;
  border: 3px solid rgb(78, 163, 255);
  border-radius: 8px;
  max-width: 700px;
  margin: 20px auto;

  .data-head {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: $acent-color;
    margin-bottom: 10px;
    padding: 3px 5px;
    border-radius: 4px;

    .cell {
      width: 80px;
      text-align: center;
      font-weight: 600;
      color: black;

      &:first-child {
        flex-grow: 1;
      }
    }
  }
  .data-body {
    .row {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      padding: 2px 3px 5px 3px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.493);
      .cell {
        width: 80px;
        text-align: center;

        &:first-child {
          flex-grow: 1;
          text-align: left;
        }
      }
      .failed {
        color: rgb(255, 76, 76);
        font-weight: 600;
      }
      .good-marks {
        color: rgb(145, 255, 145);
      }
    }
  }
}

nav {
  height: 60px;
  background-color: black;
  border-bottom: 2px solid $acent-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 40px;

  h1 {
    font-size: 32px;
    color: $acent-color;
  }
  input {
    height: 30px;
    width: 150px;
    background-color: rgb(34, 34, 34);
    padding-left: 15px;
    color: $acent-color;
    border-radius: 5px;
    border: none;
    &:focus {
      outline: none;
    }
  }
  .invalid-sym {
    color: red;
    margin-right: 5px;
  }
  .invalid-reg-id {
    border: 1px solid red;
    color: red;
  }
}

@media (max-width: 430px) {
  .data {
    .data-head {
      gap: 0;
      .cell {
        width: 48px;
        font-size: 12px;
        overflow-x: hidden;
        &:first-child {
          font-size: 16px;
        }
      }
    }
    .data-body {
      .row {
        gap: 0;
        .cell {
          width: 45px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .update-box {
    bottom: 0px;
    transform: translateX(-50%);
  }
}

@mixin head-mssg {
  color: inherit;
  font-size: 20px;
  padding: 6px;
  border-bottom: 1px solid;
  border-bottom-color: inherit;
  margin-bottom: 10px;
}
@mixin mssg-box($bg, $fg) {
  padding: 15px;
  max-width: 600px;
  // margin: 10 auto;
  border-radius: 12px;
  margin-bottom: 15px;
  background-color: $bg;
  color: $fg;
  font-size: 15px;
  border: 1px solid $fg;
  margin: 0 25px 15px 25px;
  a {
    color: lighten($fg, 25%);
    font-weight: 500;
    text-decoration: none;
  }
}
div .info-head,
.error-head,
.warn-head,
.info-head {
  @include head-mssg;
}
.warn-mssg {
  @include mssg-box(#272117, orange);
}
.error-mssg {
  @include mssg-box(#291a1a, red);
}
.info-mssg {
  @include mssg-box(#262c32, $acent-color);
}
.correct-mssg {
  @include mssg-box(#0b5604, #00ff00);
}

// .fancy {
//   // padding: 30px;
//   font-size: 60px;
//   margin-bottom: 70px;
//   // margin-top: 5px;
//   color: $acent-color;
//   font-weight: 900;
//   text-align: center;
//   text-shadow: 0 15px 15px rgba(9, 162, 250, 0.494),
//     0 10px 12px rgba(59, 96, 124, 0.437);
//   animation: 5s anm infinite;
// }

@keyframes anm {
  0% {
    scale: 1;
    color: $acent-color;
  }
  25% {
    scale: 1.1;
    color: rgb(225, 0, 255);
    // transform: translate3d(40px, 20px, 20px);
    // transform: rotateY(120deg);
  }
  50% {
    scale: 1.2;
    color: red;
  }
  75% {
    scale: 1.1;
    color: yellow;
  }
  100% {
    scale: 1;
    color: green;
    scale: 1;
  }
}

.fancy-txt {
  font-size: 100px;
  color: $acent-color;
  text-align: center;
  margin-bottom: 30px;
  animation: 3s anm infinite;
}
